{% extends "base.html" %}
{% block content %}
        <ul style="list-style-type:none">
            <p><a href="{% url 'adobe' %}">Adobe</a></p>
            <p><a href="{% url 'apollo' %}">Apollo</a></p>
            <p><a href="{% url 'docusign' %}">DocuSign</a></p>
            <p><a href="{% url 'lotus_notes' %}">Lotus Notes</a></p>
            <p><a href="{% url 'sap' %}">SAP</a></p>
            <p><a href="{% url 'trackwise' %}">TrackWise</a></p>
            <p><a href="{% url 'waveware' %}">WaveWare</a></p>
        </ul>
{% endblock %}