{% extends "base.html" %}
{% block content %}
<h3>Office 365</h3>
    <ul style="list-style-type:none">
        <p>Outlook</p>
            <ul>
                <li>NPM</li>
                <p></p>
                    <ul>
                        <li>Important info</li>
                            <p>Everything you need to know before you start</p>
                        <li>New NPM</li>
                            <p>How to set it up?</p>
                        <li>Errors</li>
                            <p>Possible errors you may encounter</p>
                    </ul>
                <li>Sending and receiving mail</li>
                <p></p>
                    <ul>
                        <li>Errors</li>
                        <p>Errors listed. </p>
                    </ul>
                <li>Performance</li>
                <p></p>
                    <ul>
                        <li>Not responding</li>
                        <p>Why does it happen?</p>
                    </ul>
            </ul>
        <p>OneDrive</p>
        <p>Visio & Project</p>
    </ul>
{% endblock %}