{% extends "base.html" %}
{% block content %}
    <ul class="menu menu-hover-lines" style="list-style-type:none">
        <li>
            <p>Antivirus</p>
            <p>Bitlocker</p>
            <p>Feature Update</p>
                <ul>
                    <li>{{ about_2 }}</li>
                    <li>{{ errors_2 }}</li>
                </ul>
            <p>Windows Update</p>
            <p></p>
                <ul>
                    <li>About Windows Update</li>
                        <ul>
                            <li>What is Windows Update</li>
                            <p>Here goes a description of everything about Windows Update</p>
                        </ul>
                    <li>Errors</li>
                        <ul>
                            <li>When to expect them?</li>
                            <p>Here goes a description of errors that can be expected.</p>
                        </ul>
                </ul>
        </li>
    </ul>
{% endblock %}